#about-us-introduction p {
    color: #676767;
}

.no-margin-bottom {
    margin-bottom: 0;
}

#about-us-description {
    color: #676767;
}

.accordion-button {
    background-color: #b9b9b9 !important;
    color: white !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    display: none;
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 20px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::before {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: rotate(0deg);
}

#why-choose-us p {
    color: #676767;
}

.team-desc {
    text-align: center;
    background-color: #f9f9f9;
    height: 400px;
}

.team-desc > img {
    width: 100%;
}

.role-team {
    color: #6b6b6b;
}

h5{
    font-weight: bold !important;
}